footer.footer
	.container
		.footer-wrap
			.footer-about
				.footer__title 
					.title--white О нас
				.footer-about__text
					p
						| LAMBDA это ресторан греческой кухни в центре Киева. Уютный зал ресторана, рассчитанный на 20 человек, прекрасно подойдет для проведения небольшого праздника или семейного торжества.
			.footer-hours
				.footer__title 
					.title--white Часы работы
				.footer-hours__content
					.footer-hours__content-days ПН - ПТ:
					.footer-hours__content-time 07:00 - 18:00
					.footer-hours__content-days СБ - ВС:
					.footer-hours__content-time 07:00 - 22:00
				.footer-hours__badges
					i.fab.fa-cc-visa.footer-hours__badges--visa
					i.fab.fa-cc-paypal.footer-hours__badges--paypal
					i.fab.fa-cc-mastercard.footer-hours__badges--mc
					i.fab.fa-cc-apple-pay.footer-hours__badges--ap
			.footer-location
				.footer__title 
					.title--white Как нас найти
				.footer-location__content бульвар Тараса Шевченка, 36А, Киев, 01032
				.footer-location__soc
					a(href="https://twitter.com/" target="_blank").footer-location__soc--tw
						i.fab.fa-twitter
					a(href="https://www.youtube.com/" target="_blank").footer-location__soc--yb
						i.fab.fa-youtube
					a(href="https://www.facebook.com/" target="_blank").footer-location__soc--fb
						i.fab.fa-facebook-f