footer.footer
	.container
		.footer-wrap
			.footer-about
				.footer__title 
					.title--white About Us
				.footer-about__text
					p
						| Lambda's new and expanded Chelsea location represents a truly authentic Greek patisserie, featuring breakfasts of fresh croissants and steaming bowls of café. Lamda the best restaurant in town
			.footer-hours
				.footer__title 
					.title--white Opening Hours
				.footer-hours__content
					.footer-hours__content-days Mon - Thu:
					.footer-hours__content-time 07:00 - 18:00
					.footer-hours__content-days Fri - Sun:
					.footer-hours__content-time 07:00 - 22:00
			.footer-location
				.footer__title 
					.title--white Our Location
				.footer-location__content 19th Paradise Street Sitia 128 Meserole Avenue
