footer.footer
	.container
		.footer-wrap
			.footer-about
				.footer__title 
					.title--white About Us
				.footer-about__text
					p
						| Lambda's new and expanded Chelsea location represents a truly authentic Greek patisserie, featuring breakfasts of fresh croissants and steaming bowls of café. Lamda the best restaurant in town
			.footer-hours
				.footer__title 
					.title--white Opening Hours
				.footer-hours__content
					.footer-hours__content-days Mon - Thu:
					.footer-hours__content-time 07:00 - 18:00
					.footer-hours__content-days Fri - Sun:
					.footer-hours__content-time 07:00 - 22:00
				.footer-hours__badges
					i.fab.fa-cc-visa.footer-hours__badges--visa
					i.fab.fa-cc-paypal.footer-hours__badges--paypal
					i.fab.fa-cc-mastercard.footer-hours__badges--mc
					i.fab.fa-cc-apple-pay.footer-hours__badges--ap
			.footer-location
				.footer__title 
					.title--white Our Location
				.footer-location__content 19th Paradise Street Sitia 128 Meserole Avenue
				.footer-location__soc
					a(href="https://twitter.com/" target="_blank").footer-location__soc--tw
						i.fab.fa-twitter
					a(href="https://www.youtube.com/" target="_blank").footer-location__soc--yb
						i.fab.fa-youtube
					a(href="https://www.facebook.com/" target="_blank").footer-location__soc--fb
						i.fab.fa-facebook-f