section.section-reviews#section-reviews
	.container
		.owl-carousel
			.review
				.review__title
					.title--white Отзыв гостя
				.review__text
					p
						| Моё любимое место! Мы приехали 8 марта в 18 часов, попали на развлекательную программу и шоу иллюзиониста. Народу было много, атмосфера классная! Праздник замечательно прошёл! Вкусно поели, отдохнули и получили комплименты от ресторана. Приятно!
				.review__signature - Анастасия
			.review
				.review__title
					.title--white Отзыв гостя
				.review__text
					p
						| Посетили данный ресторан с молодым человеком . Хороший выбор блюд в меню. Нас очень порадовали цены и качество.Очень приличный выбор неплохих грузинских вин. Получили удовольствие. Спасибо!
				.review__signature - Валерия
			.review
				.review__title
					.title--white Отзыв гостя
				.review__text
					p
						| Я люблю пространства и их оформление, такие изысканные, приятная семейная атмосфера, идеальное место для романтического ужина, легкий доступ.
				.review__signature - Дмитрий