section.section-about#section-about
	.container
		.about-wrap
			.about-content
				.about-content__title 
					.title--gold Просто правильная еда
				.about-content__desc
					p
						| Вы думаете, греческая кухня - это только салат из овощей и сыра феты? Вот и нет! Мы собрали самые простые и самые популярные блюда - их готовят в любом доме, в любом заведении в Греции. Только самые качественные продукты и профессиональные повара!
					img(src="img/cook.png", alt="cook").about-content__desc-img
			.about-img
				img(src="img/plate.png", alt="plate")