section.section-ingredients#section-ingredients
	.container
		.ingredients-content(data-aos="fade-up")
			.ingredients-content__title 
				.title--white Качественные ингредиенты
			.ingredients-content__desc
				p
					| Мы тщательно следим за своей репутацией и качеством каждого используемого ингредиента. Вы можете быть уверены на 100% в свежести каждого нашего продукта и компонентах, которые использовались при его создании. Мы используем только самое лучшее.
			.ingredients-content-images
				img(src="img/wheat.png" alt="wheat")
				img(src="img/condiment.png" alt="condiment")
				img(src="img/bread.png" alt="bread")
