.nav-wrap
	.container
		nav.nav

			.nav-logo
				a(href="#!")
					img(src="img/logo.png", alt="logo")
			
			ul.nav-menu#page-nav
				li.nav-menu-item.nav-menu-item--active
					a(href="#section-header").nav-menu__link Главная
				li.nav-menu-item
					a(href="#section-about").nav-menu__link О нас
				li.nav-menu-item
					a(href="#section-ingredients").nav-menu__link Ингредиенты
				li.nav-menu-item
					a(href="#section-menu").nav-menu__link Меню
				li.nav-menu-item
					a(href="#section-reviews").nav-menu__link Отзывы
				li.nav-menu-item
					a(href="#section-reservation").nav-menu__link Бронирование

			.nav-menu-soc
				a(href="https://twitter.com/" target="_blank").nav-menu-soc__link
					i.fab.fa-twitter
				a(href="https://www.youtube.com/" target="_blank").nav-menu-soc__link
					i.fab.fa-youtube
				a(href="https://www.facebook.com/" target="_blank").nav-menu-soc__link
					i.fab.fa-facebook-f
			
	
header.section-header#section-header
	.container
		.header-content
			h1.header-content__title
				| правильные ингредиенты для правильной пищи
			.header-content__buttons
				a(href="#section-reservation").button.button--dark ЗАБРОНИРОВАТЬ СТОЛ
				a(href="#section-menu").button.button--white ПОСМОТРЕТЬ МЕНЮ


