section.section-menu
	.container
		.menu-card-wrap
			.menu-card
				.menu-card-title 
					.title--gold Appetisers
				+menu-card('Tzatsiki', 'Refreshing traditional cucumber and garlic yoghurt dip.', '3.99')
				+menu-card('Aubergine Salad', 'Pureed eggplant, garlic, green pepper and tomato dip.', '5.50')
				+menu-card('Aubergine Salad', 'Pureed eggplant, garlic, green pepper and tomato dip.', '5.25')

			.menu-card
				.menu-card-title 
					.title--gold Starters
				+menu-card('Haloumi', 'Refreshing traditional cucumber and garlic yoghurt dip.', '3.99')
				+menu-card('Spinach Pie', 'Pureed eggplant, garlic, green pepper and tomato dip.', '5.50')
					
			.menu-card
				.menu-card-title 
					.title--gold Salads
				+menu-card('Olive Special', 'Refreshing traditional cucumber and garlic yoghurt dip.', '5.99')
				+menu-card('Greek Salad', 'Pureed eggplant, garlic, green pepper and tomato dip.', '5.50', 'special')
				+menu-card('Gusto Salad', 'Pureed eggplant, garlic, green pepper and tomato dip.', '5.25')
		
			.menu-card
				.menu-card-title 
					.title--gold Main Dishes
				+menu-card('Cornish Mackere', 'Refreshing traditional cucumber and garlic yoghurt dip.', '5.99')
				+menu-card('Roast Lamb', 'Pureed eggplant, garlic, green pepper and tomato dip.', '5.50', 'special')
				+menu-card('Fried Chicken', 'Pureed eggplant, garlic, green pepper and tomato dip.', '5.25')
				+menu-card('Pastitsio', 'Pureed eggplant, garlic, green pepper and tomato dip.', '5.99')

