section.section-reservation#section-reservation
	.container
		.reservation-wrap
			.reservation-img(data-aos="fade-up")
				img(src="img/dish-left.jpg" alt="dish left")
				img(src="img/dish-right.jpg" alt="dish right")
			.reservation(data-aos="fade-up")
				.reservation__title
					.title--gold Бронирование
				.reservation__desc
					p
						| Чтобы избежать огорчений – используйте наш сервис бронирования столиков в ресторане. Это сэкономит нервы, силы и время. Бронирование работает без предоплаты.
					p
						| Вы можете забронировать столик за неделю до планируемой даты посещения. Мы перезвоним вам в день визита за два часа и уточним актуальность брони.
				.form
					label.form__label
						h4.form__label-title Имя
						input(type="text" name="name" placeholder="Ваше имя").label-input
					label.form__label
						h4.form__label-title Номер телефона
						input(type="phone" name="phone" placeholder="+3 (8067) 97-97-997").label-input
					label.form__label
						h4.form__label-title Дата посещения
						input(type="date" name="date" placeholder="date").label-input
					label.form__label
						h4.form__label-title Тип столика
						select#select-number(name="party-number").label-input.select-list
							option(value="1") На двоих
							option(value="2") От 2 до 5 чел.
							option(value="3") От 5 чел.
							option(value="4") VIP (на двоих)
					button(type="submit").button--submit Забронировать