header.section-header
	.container
		.nav
			.nav-logo
				a(href="#!").nav-logo__link LAMBDA
			.nav-menu
				a(href="#!").nav-menu__link Home
				a(href="#!").nav-menu__link About
				a(href="#!").nav-menu__link Igredients
				a(href="#!").nav-menu__link Menu
				a(href="#!").nav-menu__link Reviews
				a(href="#!").nav-menu__link Reservations
			.nav-menu-soc
				a(href="#!").nav-menu-soc__link
					i.fab.fa-twitter
				a(href="#!").nav-menu-soc__link
					i.fab.fa-youtube
				a(href="#!").nav-menu-soc__link
					i.fab.fa-facebook-f
		.header-content
			h1.header-content__title
				| the right ingredients for the right food
			.header-content__buttons
				a(href="#!").button.button--dark BOOK A TABLE
				a(href="#!").button.button--white SEE THE MENU


