section.section-menu#section-menu
	.container
		.menu-card-wrap
			.menu-card
				.menu-card-title 
					.title--gold Закуски
				+menu-card('Мелидзана', 'Летняя закуска из баклажанов с минимумом калорий и максимумом пользы. Баклажаны с помидорами, сыром фета и оливками можно подавать и в теплом, и в холодном виде.', '85')
				+menu-card('Цацики', 'Традиционный греческий рецепт холодного соуса (или закуски). Подают охлажденным к овощам, мясу или просто с хлебом, в качестве закуски.', '130')
				+menu-card('Тарамосалата ', 'Закуска из копченой икры трески с лимонным соком, оливковым маслом, чесноком или луком и белым хлебом.', '150')

			.menu-card
				.menu-card-title 
					.title--gold Первые блюда
				+menu-card('Лимонный суп', 'Густой рисовый суп - великолепный вариант для сытного зимнего обеда', '150')
				+menu-card('Шпинатный пирог', 'Мята, лук, зелень и шпинат.', '195')
				+menu-card('Муссака', 'Нежная и воздушная запеканка является одним из традиционных греческий блюд.', '140')
					
			.menu-card
				.menu-card-title 
					.title--gold Салаты
				+menu-card('Салат "Афины"', 'Прекрасный вкус и несомненная польза для здоровья удачно сочетаются в этом салате из тыквы с изюмом и яблоками.', '200')
				+menu-card('Салат "Греческий"', 'Знаменитое блюдо греческой кухни - очень простой, но вкуснейший салат из овощей, с традиционным греческим сыром фета.', '99', 'special')
				+menu-card('Салат из тыквы с изюмом', 'Прекрасный вкус и несомненная польза для здоровья удачно сочетаются в этом салате из тыквы с изюмом и яблоками.', '200')
		
			.menu-card
				.menu-card-title 
					.title--gold Основные блюда
				+menu-card('Картофель по-гречески', 'Размятый молодой картофель по-гречески готовится с весенними травами.', '100')
				+menu-card('Суп "Салоники"', 'Суп "Салоники" с макаронами и кукурузой готовится на курином бульоне, подается с обжаренными куриными крыльями.', '99')
				+menu-card('"Жюльен"', 'Пикантная горячая закуска из курицы с маслинами, в сметанном соусе с сыром.', '120')
				+menu-card('"Фасолада"', 'Холодный вариант фасолады приправляют большим количеством лимонного сока, что делает суп более легким и освежающим.', '130', 'special')
