.footer
	padding-top: 57px
	padding-bottom: 65px
	background-color: #000

.footer-wrap
	display: flex
	justify-content: space-between
	max-width: 1100px

.footer-about
	max-width: 370px

.footer__title
	margin-bottom: 54px
	position: relative
	.title--white
		font-size: 21px
	&:after
		width: 199px
		height: 19px
		position: absolute
		bottom: -35px
		left: 50%
		content: ""
		transform: translateX(-50%)
		background-image: url("../img/divider-white.png")
		background-size: cover

.footer-about__text
	p
		text-align: center
		color: #fff
		font-family: 'Open Sans', sans-serif
		font-size: 16px
		font-weight: 400
		line-height: 24px

.footer-hours
	max-width: 230px

.footer-hours__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	color: #fff
	font-family: 'Open Sans', sans-serif
	font-size: 16px
	font-weight: 400
	line-height: 24px
	text-align: center

.footer-hours__content-days
	width: 50%
	font-weight: 700

.footer-hours__content-time
	width: 50%

.footer-location
	max-width: 230px

.footer-location__content
	color: #fff
	font-family: 'Open Sans', sans-serif
	font-size: 16px
	font-weight: 700
	line-height: 24px
	text-align: center