.section-reviews
	padding-top: 100px
	padding-bottom: 101px
	background-image: url("../img/bg-reviews.png")
	background-repeat: no-repeat
	background-size: cover

.review
	margin-right: auto
	margin-left: auto
	padding-top: 76px
	padding-right: 64px
	padding-bottom: 102px
	padding-left: 64px
	max-width: 770px
	background-color: rgba(0, 0, 0, 0.8)

.review__title
	margin-bottom: 58px
	position: relative
	&:after
		width: 247px
		height: 24px
		position: absolute
		bottom: -39px
		left: 50%
		content: ""
		transform: translateX(-50%)
		background-image: url("../img/divider-white.png")

.review__text
	margin-bottom: 32px
	position: relative
	text-align: center
	color: #dde0df
	font-family: 'Gentium Book Basic', serif
	font-size: 25px
	font-weight: 700
	line-height: 45px
	&:before
		width: 32px
		height: 25px
		position: absolute
		top: 0
		left: 0
		content: ""
		transform: translate(-100%, -25%)
		background-image: url("../img/quote.png")

.review__signature
	text-align: center
	color: #ffffff
	font-family: Lato
	font-size: 18px
	font-weight: 400