mixin menu-card(title, desc, price, itemClass)
	.menu-item(class=" " + itemClass data-aos="fade-up")
		.menu-item__top
			.menu-item__title #{title}
			.menu-item__price #{price} ₴
		.menu-item__desc #{desc}