extends ./../layouts/main.pug

block variables
	- const title = "Главная";

block content
	include ./../sections/_section-header.pug
	include ./../sections/_section-about.pug
	include ./../sections/_section-ingredients.pug
	include ./../sections/_section-menu.pug
	include ./../sections/_section-reviews.pug
	include ./../sections/_section-reservation.pug
	include ./../sections/_footer.pug