extends ./../layouts/main.pug

block variables
	- const title = "Главная";

block content
	include ./../sections/_section-header.pug
	include ./../sections/_section-about.pug
	include ./../sections/_section-ingredients.pug